# see https://github.com/sigoden/aichat/blob/main/config.example.yaml

keybindings: vi # vim keybinds
editor: nvim

# Define document loaders to control how RAG and `.file`/`--file` load files of specific formats.
document_loaders:
  # You can add custom loaders using the following syntax:
  #   <file-extension>: <command-to-load-the-file>
  # Note: Use `$1` for input file and `$2` for output file. If `$2` is omitted, use stdout as output.
  pdf: "pdftotext $1 -" # Load .pdf file, see https://poppler.freedesktop.org to set up pdftotext
  docx: "pandoc --to plain $1" # Load .docx file, see https://pandoc.org to set up pandoc
  # jina: 'curl -fsSL https://r.jina.ai/$1 -H "Authorization: Bearer <jina_api_key>"'
  # Load a git repo with https://github.com/bodo-run/yek
  git: >
    sh -c "yek $1 --json | jq '[.[] | { path: .filename, contents: .content }]'"

function_calling: true # Enables or disables function calling (Globally).
mapping_tools: # Alias for a tool or toolset
  fs: "fs_cat,fs_ls,fs_mkdir,fs_rm,fs_write"
# use_tools: "execute_py_code" # Which tools to use by default

model: gemini:gemini-3-flash-preview
clients:
  - type: openai
    models:
      - name: gpt-5.2
        max_input_tokens: 400000
        max_output_tokens: 128000
        supports_vision: true
        supports_function_calling: true
        input_price: 1.75
        output_price: 14.0
      - name: gpt-5.1
        max_input_tokens: 400000
        max_output_tokens: 128000
        supports_vision: true
        supports_function_calling: true
        input_price: 1.25
        output_price: 10.0
      - name: gpt-5
        max_input_tokens: 400000
        max_output_tokens: 128000
        input_price: 1.25
        output_price: 10
        supports_vision: true
        supports_function_calling: true
      - name: gpt-5-chat-latest
        max_input_tokens: 400000
        max_output_tokens: 128000
        input_price: 1.25
        output_price: 10
        supports_vision: true
        supports_function_calling: true
      - name: gpt-5-mini
        max_input_tokens: 400000
        max_output_tokens: 128000
        input_price: 0.25
        output_price: 2
        supports_vision: true
        supports_function_calling: true
      - name: gpt-5-nano
        max_input_tokens: 400000
        max_output_tokens: 128000
        input_price: 0.05
        output_price: 0.4
        supports_vision: true
        supports_function_calling: true

  - type: gemini
    models:
      - name: gemini-3-flash-preview
        max_input_tokens: 1048576
        max_output_tokens: 65536
        input_price: 0
        output_price: 0
        supports_vision: true
        supports_function_calling: true
      - name: gemini-3-pro-preview
        max_input_tokens: 1048576
        max_output_tokens: 65536
        input_price: 0
        output_price: 0
        supports_vision: true
        supports_function_calling: true
      - name: gemini-2.5-flash
        max_input_tokens: 1048576
        max_output_tokens: 65536
        input_price: 0
        output_price: 0
        supports_vision: true
        supports_function_calling: true
      - name: gemini-2.5-pro
        max_input_tokens: 1048576
        max_output_tokens: 65536
        input_price: 0
        output_price: 0
        supports_vision: true
        supports_function_calling: true
      - name: gemini-2.5-flash-lite
        max_input_tokens: 1000000
        max_output_tokens: 64000
        input_price: 0
        output_price: 0
        supports_vision: true
        supports_function_calling: true

  - type: claude
