.env
env.fish
client_id.env

.venv

.config/aichat/rags/*

*/tmux/plugins/*
*/hypr/modules/device.conf
.ipython/profile_default/history.sqlite

.local/bin/f2py
.local/bin/fonttools
.local/bin/pyftmerge
.local/bin/pyftsubset
.local/bin/ttx
.local/bin/easyocr

tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
