@define-color bg-hover #272E32;
@define-color lbg #2D363B;
@define-color bg #111111;
@define-color blue #A2C8C3;
@define-color sky #A2C8C3;
@define-color red #E67E80;
@define-color pink #f28779;
@define-color lavender #D699B6;
@define-color rosewater #f07178;
@define-color flamingo #f07178;
@define-color fg #D3C6AA;
@define-color green #B2C98F;
@define-color active-green #B2C98F;
@define-color dark-fg #9DA9A0;
@define-color peach #f2966b;
@define-color border @lavender;
@define-color gray2 #9DA9A0;
@define-color black4 #0d1017;
@define-color black3 #131721;
@define-color maroon #d95757;
@define-color yellow #FF8F40;
/* @define-color tokyo-night-back #10111c; */

@define-color foreground #a9b1d6;
@define-color background #10111c;

/* # Black */
@define-color color0 #414868;
@define-color color8 #414868;

/* # Red */
@define-color color1 #f7768e;
@define-color color9 #f7768e;

/* # Green */
@define-color color2  #73daca;
@define-color color10 #73daca;

/* # Yellow */
@define-color color3  #e0af68;
@define-color color11 #e0af68;

/* # Blue */
@define-color color4  #7aa2f7;
@define-color color12 #7aa2f7;

/* # Magenta */
@define-color color5  #bb9af7;
@define-color color13 #bb9af7;

/* # Cyan */
@define-color color6  #7dcfff;
@define-color color14 #7dcfff;

/* # White */
@define-color color7  #c0caf5;
@define-color color15 #c0caf5;

* {
  /* min-height: 3px; */
  margin: 3;
  /* padding: 2; */
  font-family: "Fira Code Nerd Font";
  font-weight: bold;
  font-size: 15pt;
  border-radius: 80px;
  letter-spacing: 0.8px;
  /* padding-bottom: 0px; */
}

tooltip {
  background: @background;
  border-radius: 7px;
  border: 2px solid @border;
}

#window {
  margin: 0px 24px 0px 24px;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* border-radius: 7px; */
  /* border-bottom: 2px solid @background; */
  /* border-right: 2px solid @background; */
  background-color: @background;
  color: @color7;
  /* color: black; */
  /* margin: 0 8px 0 8px; */
  padding: 0 24px 0 24px; /* top, right, bottom, left */
}

.modules-left {
  margin-left: 24px;
}

.modules-right {
  margin-right: 24px;
}

window#waybar.empty #window {
  background-color: transparent;
  border-bottom: none;
  border-right: none;
}

/* Main window */
window#waybar {
  /* background-color: rgba(16, 17, 28, 0.5); */
  background-color: transparent;
  /* padding: 8px; */
  /* margin: 8px; */
  /* border-bottom: 3px solid red; */
  /* color: @lavender; */
  margin: 0 8px 0 8px;
  padding: 0 16px 0 16px; /* top, right, bottom, left */
}

/* Workspaces */
@keyframes button_activate {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

#workspaces {
  /* margin: 5px 5px 2px 5px; */
  /* border-radius: 7px; */
  /* padding: 0px; */
  /* margin: 4px 4px 4px 4px; */
  /* margin: 4 4px 4 4px; */
  padding: 0 8px 0 8px;
  background-color: @background;
  color: @color7;
}

#workspaces button {
  /* margin: 5px 2px 5px 2px; */
  /* border-radius: 5px; */
  /* padding-left: 1px; */
  /* padding-right: 1px; */
  /* margin: 4px 4px 4px 4px; */
  /* padding: 2 0 0 0; */
  /* margin: 0 4px 0 4px; */
  padding: 0 4px 0 4px;
  background-color: @background;
  color: @color7;
}

#workspaces button.active {
  /* padding: 8px 8px 8px 8px; */
  /* margin: 4px 4px 4px 4px; */
  padding: 0 7px 0 7px;
  background-color: @color1;
  color: @background;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#workspaces button:hover {
  border: solid transparent;
}

#battery,
#pulseaudio,
#bluetooth,
#backlight,
#temperature,
#memory,
#cpu {
  color: @light-blue;
  background-color: @bg;
  margin: 0 8px 0 8px;
  padding: 0 16px 0 16px; /* top, right, bottom, left */
}

#network {
  color: @light-blue;
  background-color: @bg;
  margin: 0 8px 0 8px;
  padding: 0 16px 0 16px; /* top, right, bottom, left */
}

#clock {
  color: @color7;
  background-color: @background;
  margin: 0 8px 0 8px;
  padding: 0 16px 0 16px; /* top, right, bottom, left */
  /* padding: 8px 15px 8px 15px; */
}

#tray {
  color: @color7;
  background-color: @bg;
  margin: 0 8px 0 8px;
  padding: 0 16px 0 16px; /* top, right, bottom, left */
}

/* #custom-gpu-util { */
/*   margin: 5px 5px 2px 5px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/*   border-radius: 7px; */
/*   background-color: @background; */
/*   color: @foreground; */
/* } */
/**/
/* #tray { */
/*   margin: 5px 5px 2px 5px; */
/*   border-radius: 7px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/*   background-color: @background; */
/*   color: @foreground; */
/* } */
/**/
/* #idle_inhibitor { */
/*   margin: 5px 5px 2px 5px; */
/*   padding-left: 10px; */
/*   padding-right: 12px; */
/*   border-radius: 7px; */
/*   background-color: @background; */
/*   color: @foreground; */
/* } */
/**/
/* #network { */
/*   margin: 5px 5px 2px 5px; */
/*   padding-left: 10px; */
/*   padding-right: 12px; */
/*   border-radius: 7px; */
/*   background-color: @background; */
/*   color: @lavender; */
/* } */
/**/
/* #network.linked { */
/*   color: @peach; */
/* } */
/* #network.disconnected, */
/* #network.disabled { */
/*   color: @red; */
/* } */
/**/
/* #custom-subs { */
/*   color: @background; */
/*   margin: 5px 5px 2px 5px; */
/*   padding-left: 10px; */
/*   padding-right: 12px; */
/*   border-radius: 7px; */
/*   border-bottom: 2px solid @background; */
/*   border-right: 2px solid @background; */
/*   background-color: @red; */
/* } */
/**/
/* #custom-cliphist { */
/*   color: @peach; */
/*   margin: 5px 5px 2px 5px; */
/*   padding-left: 10px; */
/*   padding-right: 12px; */
/*   border-radius: 7px; */
/*   background-color: @background; */
/* } */
/**/
/* #custom-gpu-temp, */
/* #cpu, */
/* #memory, */
/* #custom-clipboard, */
/* #temperature { */
/*   margin: 5px 5px 2px 5px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/*   border-radius: 7px; */
/*   color: @foreground; */
/*   background-color: @background; */
/* } */
/**/
/* #custom-playerctl { */
/*   margin: 5px 5px 2px 5px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/*   border-radius: 7px; */
/*   color: @foreground; */
/*   background-color: @background; */
/* } */
/**/
/* #battery, */
/* #backlight, */
/* #bluetooth, */
/* #pulseaudio { */
/*   margin-top: 5px; */
/*   margin-bottom: 2px; */
/*   color: @foreground; */
/*   background-color: @background; */
/*   border-top-right-radius: 0px; */
/*   border-bottom-right-radius: 0px; */
/*   border-top-left-radius: 7px; */
/*   border-bottom-left-radius: 7px; */
/* } */
/**/
/* #battery, */
/* #bluetooth { */
/*   margin-left: 0px; */
/*   margin-right: 5px; */
/*   padding-left: 7.5px; */
/*   padding-right: 10px; */
/*   border-top-left-radius: 0px; */
/*   border-bottom-left-radius: 0px; */
/*   border-top-right-radius: 7px; */
/*   border-bottom-right-radius: 7px; */
/* } */
/**/
/* #backlight, */
/* #pulseaudio { */
/*   margin-right: 0px; */
/*   margin-left: 5px; */
/*   padding-left: 10px; */
/*   padding-right: 7.5px; */
/*   border-top-right-radius: 0px; */
/*   border-bottom-right-radius: 0px; */
/*   border-top-left-radius: 7px; */
/*   border-bottom-left-radius: 7px; */
/* } */
/**/
/* #clock { */
/*   margin: 5px 5px 2px 5px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/*   border-radius: 7px; */
/*   color: @foreground; */
/*   background-color: @background; */
/* } */
/**/
/* #mode { */
/*   margin: 5px 5px 2px 5px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/*   border-radius: 7px; */
/*   background-color: @background; */
/*   color: @peach; */
/* } */

/* ---- */

/* * { */
/*   border: none; */
/*   border-radius: 0; */
/*   min-height: 0; */
/*   margin: 0; */
/*   padding: 0; */
/* } */
/* #waybar { */
/*   background: #1e222a; */
/*   color: #eeeeef; */
/*   font-size: 14px; */
/*   font-family: "Hack Nerd Font"; */
/* } */
/**/
/* #workspaces button { */
/*   padding: 0 5px; */
/*   color: #eeeeef; */
/* } */
/*  Fix: active workspace doesn't show up */
/*  #workspaces button.focused { */
/* #workspaces button.active { */
/*   color: #fa5aa4; */
/* } */
/**/
/* #custom-powermenu, */
/* #cpu, */
/* #temperature, */
/* #memory, */
/* #workspaces, */
/* #clock, */
/* #window, */
/* #pulseaudio, */
/* #custom-updates, */
/* #network { */
/*   padding: 4px 8px; */
/*   background-color: #303643; */
/*   border-radius: 30px; */
/*   margin: 6px 4px; */
/* } */
/**/
/* #window { */
/*   color: #929db1; */
/* } */
/**/
/* #tray { */
/*   margin-left: 4px; */
/* } */
/**/
/* #custom-updates { */
/*   color: #1788e4; */
/* } */
/**/
/* #custom-powermenu { */
/*   color: #e06c75; */
/*   padding-right: 11px; */
/*   margin-right: 8px; */
/* } */
/**/
/* #scratchpad { */
/*   color: #cffafe; */
/*   padding-right: 4px; */
/*   padding-left: 4px; */
/* } */
/**/
/* #pulseaudio { */
/*   color: #0fb9b1; */
/*   padding-right: 14px; */
/* } */
/**/
/* #cpu { */
/*   color: #61afef; */
/* } */
/**/
/* #temperature { */
/*   color: #98c379; */
/* } */
/**/
/* #memory { */
/*   color: #e5c07b; */
/* } */
/**/
/* #network { */
/*   color: #c678dd; */
/*   min-width: 200px; */
/* } */
/**/
/* #clock { */
/*   color: #fff; */
/*   margin-left: 8px; */
/*    opacity: 0.7; */
/*    font-size: 18px; */
/* } */
