@define-color bg-hover #272E32;
@define-color lbg #2D363B;
@define-color bg #111111;
@define-color red #E67E80;
@define-color fg #D3C6AA;
@define-color green #B2C98F;
@define-color active-green #B2C98F;
@define-color dark-fg #9DA9A0;
@define-color peach #f2966b;
@define-color border #ec0101;
/* @define-color tokyo-night-back #10111c; */

@define-color foreground #a9b1d6;
@define-color background #10111c;

/* # Black */
@define-color color0 #414868;
@define-color color8 #414868;

/* # Red */
@define-color color1 #f7768e;
@define-color color9 #f7768e;

/* # Green */
@define-color color2  #73daca;
@define-color color10 #73daca;

/* # Yellow */
@define-color color3  #e0af68;
@define-color color11 #e0af68;

/* # Blue */
@define-color color4  #7aa2f7;
@define-color color12 #7aa2f7;

/* # Magenta */
@define-color color5  #bb9af7;
@define-color color13 #bb9af7;

/* # Cyan */
@define-color color6  #7dcfff;
@define-color color14 #7dcfff;

/* # White */
@define-color color7  #c0caf5;
@define-color color15 #c0caf5;

/* @define-color border-color #242436; */
/* @define-color border-color #272E32; */
/* @define-color border-color #022496; */
/* @define-color border-color #290296; */
/* @define-color border-color #220080; */
@define-color border-color #1e0070;
@define-color border-color-hover #bb9af7;

* {
  /* min-height: 3px; */
  margin: 3;
  /* padding: 2; */
  font-family: "Fira Code Nerd Font";
  font-weight: bold;
  font-size: 14pt;
  border-radius: 40px;
  letter-spacing: 0.8px;
  /* padding-bottom: 0px; */
}

label.module {
  background-color: @bg;
  margin: 0 8px 0 8px;
  padding: 0 24px 0 24px; /* top, right, bottom, left */
  border: 2px solid @border-color;
}

label.module:hover {
  border: 2px solid @border-color-hover;
}

box.module {
  background-color: @bg;
  margin: 0 8px 0 8px;
  padding: 0 16px 0 16px; /* top, right, bottom, left */
  border: 2px solid @border-color;
}

box.module:hover {
  border: 2px solid @border-color-hover;
}

#hardware {
  background-color: @bg;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  border: 2px solid @border-color;
}

#hardware:hover {
  border: 2px solid @border-color-hover;
}

#hardware label.module {
  background-color: @bg;
  /* margin: 0 0px 0 0px; */
  /* margin: 0 8px 0 8px; */
  padding: 0 8px 0 8px;
  border: 0px solid @bg;
}

#power {
  background-color: @bg;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  border: 2px solid @border-color;
}

#power:hover {
  border: 2px solid @border-color-hover;
}

#power label.module {
  background-color: @bg;
  padding: 0 8px 0 6px;
  border: 0px solid @bg;
}

#audio {
  background-color: @bg;
  margin: 0 8px 0 8px;
  padding: 0 16px 0 16px;
  border: 2px solid @border-color;
}

#audio:hover {
  border: 2px solid @border-color-hover;
}

#audio label.module {
  background-color: @bg;
  padding: 0 0px 0 0px;
  border: 0px solid @bg;
}
/* label.power { */
/*   background-color: @bg; */
/*   padding: 0 0px 0 0px; */
/* } */

/* hidden.module { */
/*   background-color: @bg; */
/*   margin: 0 8px 0 8px; */
/*   padding: 0 16px 0 16px; */
/* } */

.modules-left {
  margin-left: 24px;
}

.modules-right {
  margin-right: 24px;
}

tooltip {
  background: @bg;
  border-radius: 0px;
  border: 3px solid @border;
}

/* #window { */
/* margin: 0px 8px 0px 8px; */
/* padding-left: 10px; */
/* padding-right: 10px; */
/* border-radius: 7px; */
/* border-bottom: 2px solid @background; */
/* border-right: 2px solid @background; */
/* background-color: @background; */
/* background-color: @bg; */
/* color: @color7; */
/* color: black; */
/* margin: 0 8px 0 8px; */
/* padding: 0 24px 0 24px; */
/* } */

/* window#waybar.empty #window { */
/*   background-color: transparent; */
/*   border-bottom: none; */
/*   border-right: none; */
/* } */

/* Main window */
window#waybar {
  /* background-color: rgba(16, 17, 28, 0.5); */
  /* padding: 8px; */
  /* margin: 8px; */
  /* border-bottom: 3px solid red; */
  background-color: @transparent;
  /* background-color: @color3; */
  /* margin: 0 8px 0 8px; */
  /* padding: 0 16px 0 16px; */
}

/* Workspaces */
@keyframes button_activate {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

#workspaces {
  /* margin: 5px 5px 2px 5px; */
  /* border-radius: 7px; */
  /* padding: 0px; */
  /* margin: 4px 4px 4px 4px; */
  /* margin: 4 4px 4 4px; */
  /* padding: 0 8px 0 8px; */
  padding: 0 4px 0 4px;
  background-color: @bg;
  border: 2px solid @border-color;
  /* color: @color7; */
}

/* #workspaces:hover { */
/*   border: 2px solid @border-color-hover; */
/* } */

#workspaces button {
  /* margin: 5px 2px 5px 2px; */
  /* border-radius: 5px; */
  /* padding-left: 1px; */
  /* padding-right: 1px; */
  /* margin: 4px 4px 4px 4px; */
  /* padding: 2 0 0 0; */
  /* margin: 0 4px 0 4px; */
  /* english */
  /* padding: 0 7px 0 7px; */
  padding: 0 4px 0 4px;
  background-color: @background;
  background-color: @bg;
  border: 2px solid @bg;
  /* border: 2px solid @color0; */
  /* color: @color7; */
}

#workspaces button.active {
  /* padding: 8px 8px 8px 8px; */
  /* margin: 4px 4px 4px 4px; */
  /* english */
  /* padding: 0 7px 0 7px; */
  padding: 0 4px 0 4px;
  background-color: @color1;
  color: @background;
  border: 2px solid @color1;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#workspaces button:hover {
  /* background-color: transparent; */
  border: 2px solid @color6;
  color: @color1;
}

/*
#battery,
#pulseaudio,
#bluetooth,
#backlight,
#temperature,
#memory,
#network,
#clock,
#cpu {
  color: @light-blue;
  background-color: @bg;
  margin: 0 8px 0 8px;
  padding: 0 24px 0 24px;  top, right, bottom, left 
 box-shadow: @border 0px 0px 4px -3px; 
}
*/

/* #tray { */
/*   color: @color7; */
/*   background-color: @bg; */
/*   margin: 0 8px 0 8px; */
/*   padding: 0 16px 0 16px; */
/* } */

/* #tray:last-child { */
/* color: @color7; */
/* visible:  */
/* background-color: @bg; */
/* margin: 0 8px 0 8px; */
/* padding: 0 16px 0 16px;  top, right, bottom, left */
/* } */
