@define-color bg #111111;
@define-color fg #D3C6AA;
@define-color border #ec0101;
/* @define-color tokyo-night-back #10111c; */

@define-color foreground #a9b1d6;
@define-color background #10111c;
/* @define-color background #111111; */

@define-color border-color #1e0070;
@define-color border-color-hover #bb9af7;

/* # normal */
@define-color color0 #15161e;
@define-color color1 #f7768e;
@define-color color2 #9ece6a;
@define-color color3 #e0af68;
@define-color color4 #7aa2f7;
@define-color color5 #bb9af7;
@define-color color6 #7dcfff;
@define-color color7 #a9b1d6;

/* # bright */
@define-color color8 #414868;
@define-color color9 #f7768e;
@define-color color10 #9ece6a;
@define-color color11 #e0af68;
@define-color color12 #7aa2f7;
@define-color color13 #bb9af7;
@define-color color14 #7dcfff;
@define-color color15 #c0caf5;

/* # extended colors */
@define-color color16 #ff9e64;
@define-color color17 #db4b4b;

* {
  /* font-family: "Fira Code Nerd Font Mono"; */
  /* font-family: "Fira Code Nerd Font"; */
  font-family: "JetBrainsMono Nerd Font Mono";
  font-weight: 700;
  font-size: 20px;
  /* border-radius: 60px; */
  letter-spacing: 0.8px;
  /* padding-bottom: 0px; */
}

/* #window { */
/*   border-radius: 60px; */
/* } */

label.module {
  background-color: @transprant;
  border: 2px transparent;
  /* margin: 0 8px 0 8px; */
  /* padding: 4 16px 4 16px; */
  padding: 0 16;
  /* border-radius: 60px; */
}

/* label.module:hover { */
/*   border: 2px solid @border-color-hover; */
/*   border-radius: 4; */
/* } */

.right label {
  font-size: 36px;
  background-color: @transparent;
  padding: 0;
  border: 2px transparent;
}

.right label.module:hover {
  border: 2px transparent;
}

box.module {
  background-color: @transprant;
  border: 2px transparent;
  /* margin: 0 8px 0 8px; */
  padding: 0 16px 0 16px;
  /* padding: 4 16px 4 16px; */
}

box.module:hover {
  border: 2px solid @border-color-hover;
}

#hardware {
  background-color: @bg;
  /* margin: 0 8px 0 8px; */
  padding: 0 8px 0 8px;
  border: 2px solid @bg;
}

#hardware:hover {
  border: 2px solid @border-color-hover;
}

#hardware label.module {
  background-color: @bg;
  /* margin: 0 0px 0 0px; */
  /* margin: 0 8px 0 8px; */
  padding: 0 8px 0 8px;
  border: 2px solid @bg;
}

#power {
  /* background-color: @background; */
  background-color: @transprant;
  /* margin: 0 4px 0 4px; */
  border: 2px transparent;
  /* border-top: 2px red; */
  border-top: 2px solid @color17;
  /* border-radius: 8; */
}

#power:hover {
  /* background-color: @bg; */
  background-color: @transprant;
  /* margin: 0 4px 0 4px; */
  /* border: 2px solid @color17; */
  /* border-radius: 4; */
}

#power label {
  /* background-color: @bg; */
  background-color: @transprant;
  margin: 0;
  /* padding: 1 6; */
  padding: 0 14;
  border: 2px transparent;
  font-size: 26;
  border-radius: 4;
}

#pulseaudio {
  background-color: @transprant;
  border: 2px transparent;
  border-top: 2px solid @color5;
  /* margin: 0 8px 0 8px; */
  /* padding: 0 8px 0 8px; */
  padding: 0;
  font-size: 32;
  /* padding: 0 8px 0 8px; */
  /* font-family: "Fira Code Nerd Font"; */
}

#audio {
  background-color: @transprant;
  border: 2px transparent;
  border-top: 2px solid @color5;
  /* margin: 0 8px 0 8px; */
  /* padding: 0 16px 0 16px; */
  padding: 0 4px 0 4px;
}

/* #audio:hover { */
/*   border: 2px solid @border-color-hover; */
/*   border-radius: 4; */
/* } */

#audio label {
  background-color: @transprant;
  border: 2px transparent;
  /* padding: 0 0px 0 0px; */
  padding: 0 8px 0 8px;
}

/* #audio mpris lable { */
/*   font-size: 18px; */
/* } */

#custom-pacman {
  border-top: 2px solid @color5;
  font-family: "Berkeley Mono";
  font-weight: 500;
}

#backlight-slider {
  border-top: 2px solid @color3;
}

#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  background-color: transparent;
  border: 2px transparent;
  /* box-shadow: 1 10 1 rgba(0, 0, 0, 1.5); */
  color: transparent;
}
#backlight-slider trough {
  min-height: 10px;
  min-width: 160px;
  border-radius: 5px;
  background-color: black;
  border: 2px transparent;
  border: 2px solid @color0;
}
#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: @color3;
  border: 2px @color0;
}

#pulseaudio-slider {
  border-top: 2px solid @color5;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  background-color: transparent;
  border: 2px transparent;
  /* box-shadow: 1 10 1 rgba(0, 0, 0, 1.5); */
  color: transparent;
}
#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 160px;
  border-radius: 5px;
  background-color: black;
  border: 2px transparent;
  border: 2px solid @color0;
}
#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: @color5;
  border: 2px @color0;
}

/* #pulseaudio { */
/*   background-color: @transprant; */
/*   border: 2px transparent; */
/* } */

#clock {
  font-family: "Berkeley Mono";
  border-top: 2px solid @color17;
  background-color: @transprant;
  /* border: 2px transparent; */
}

#clock {
  font-weight: 700;
}

#cpu {
  font-family: "JetBrainsMono Nerd Font Mono";
  background-color: @transprant;
  /* border-top: 2px solid @color17; */
  border: 2px transparent;
  /* padding: 0 0px 0 0px; */
  color: @color17;
  font-size: 26;
  padding: 0 12px;
  font-weight: 300;
  /* letter-spacing: -4px; */
}

#memory {
  /* white-space: pre; */
  font-family: "JetBrainsMono Nerd Font Mono";
  background-color: @transprant;
  border: 2px transparent;
  /* padding: 0 0px 0 0px; */
  color: @color17;
  font-size: 26;
  padding: 0 12px;
  font-weight: 300;
  /* letter-spacing: -4px; */
}

#backlight {
  padding: 0 8;
  font-size: 32;
  /* font-family: "Fira Code Nerd Font"; */
  margin: 0;
  font-size: 32;
  color: @color3;
  /* font-family: "Fira Code Nerd Font"; */
  border-top: 2px solid @color3;
}

#backlight:hover {
  border: 2px transparent;
  border-top: 2px solid @color3;
}

#network {
  font-family: "JetBrainsMono Nerd Font Mono";
  padding: 0 12px;
  font-size: 32;
  border-top: 2px solid @color17;
  /* font-family: "Fira Code Nerd Font"; */
  /* border-top: 2px solid @color7; */
}

#battery {
  font-family: "JetBrainsMono Nerd Font Mono";
  padding: 0 14;
  font-size: 18;
  border-top: 2px solid @color17;
}

/* label.power { */
/*   background-color: @bg; */
/*   padding: 0 0px 0 0px; */
/* } */

/* hidden.module { */
/*   background-color: @bg; */
/*   margin: 0 8px 0 8px; */
/*   padding: 0 16px 0 16px; */
/* } */

/* .modules-left { */
/*   margin-left: 24px; */
/* } */
/**/
/* .modules-right { */
/*   margin-right: 24px; */
/* } */

tooltip {
  background: @background;
  border-radius: 16px;
  /* border: 3px solid @border; */
}

/* window#waybar.empty #window { */
/*   background-color: transparent; */
/*   border-bottom: none; */
/*   border-right: none; */
/* } */

/* Main window */

window#waybar.left {
  background-color: @transparent;
}

window#waybar.right {
  background-color: @transparent;
}

window#waybar.top {
  background-color: rgba(0, 0, 0, 0.5);
}

window#waybar.bottom {
  background-color: @transparent;
}

window#waybar {
  /* padding: 8px; */
  /* margin: 8px; */
  /* background-color: @transparent; */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  /* background-color: @color3; */
  /* margin: 0 8px 0 8px; */
  /* padding: 0 16px 0 16px; */

  /* animation-name: blink; */
  /* animation-duration: 0.5s; */
  /* animation-timing-function: steps(12); */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
}

#window {
  background-color: @transparent;
  border: 2px transparent;
  border-top: 2px solid @color4;
  /* color: @color7; */
  /* font-weight: normal; */
  font-weight: 400;
}

#window label {
  font-weight: 500;
}

#window:hover {
  /* border: 2px solid @color4; */
  border-top: 2px solid @color4;
  /* border-radius: 4; */
}

/* window#waybar.firefox { */
/*   background-color: @transparent; */
/*   color: yellow; */
/* } */

/* Workspaces */
@keyframes button_activate {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  to {
    /* background-color: #ffffff; */
    color: @color17;
    border-top: 2px solid @color17;
  }
}

#battery.warning:not(.charging) {
  /* background: @color1; */
  color: @color3;
  border-top: 2px solid @color3;
  /* animation-name: blink; */
  /* animation-duration: 0.5s; */
  /* animation-timing-function: steps(12); */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
}

#battery.critical:not(.charging) {
  /* background: @color1; */
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* @keyframes elevator { */
/*   0% { */
/*     transform: translateY(0); */
/*   } */
/*   100% { */
/*     transform: translateY(0); */
/*   } */
/*   50% { */
/*     transform: translateY(-20px); */
/*   } */
/* } */

#workspaces {
  font-family: "JetBrainsMono Nerd Font Mono";
  /* margin: 14; */
  /* padding: 0 12px; */
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}

#workspaces.vertical label {
  font-size: 36px;
}

/* #workspaces:hover { */
/*   border: 2px solid @border-color-hover; */
/* } */

#workspaces button {
  /* margin: 2 0 2 0; */
  font-family: "JetBrainsMono Nerd Font Mono";
  padding: 0 24px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border: 2px solid transparent;
  border-radius: 8px;
}

#workspaces button.active {
  /* padding: 0 4px 0 4px; */
  /* background-color: @color4; */
  /* background-color: rgba(50, 10, 20, 0.3); */
  font-family: "JetBrainsMono Nerd Font Mono";
  color: @color1;
  /* border: 2px solid rgba(0, 0, 0, 0.2); */
  border: 2px solid transparent;
  /* border: 2px solid @color4; */
}

#workspaces button.urgent {
  color: @color3;
  font-family: "JetBrainsMono Nerd Font Mono";
}

#workspaces button:hover {
  /* background-color: transparent; */
  /* border: 2px solid @color3; */
  font-family: "JetBrainsMono Nerd Font Mono";
  border: 2px solid @color3;
  /* background-color: @background; */
  /* color: @background; */
  /* background-color: @color3; */
  background-color: rgba(10, 40, 40, 0.5);
  color: @color3;
  border-radius: 8px;
}
